.intro-section-left {
    background-color: #dcc1ab;
}

.ofert-block {
    background-color: #f5f0ec;
    padding-bottom: 160px;
}

.card {
    border-radius: 10%;
    border: none;
}

.card-link {
    color: #8dad97;
    border-bottom: solid;
    text-decoration: none;
}

