@media only screen and (min-width: 768px) {
    .padding-navbar {
        padding-top: 24px!important;
        padding-bottom: 24px!important;
    .navitem-gap {
        margin-left: 48px!important;
    }
    }
}

/* Navi */

nav {
    max-width: 1262px;
}

a {
    color: #111111!important;
}

.nav-font {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -1%;
    color: #111111;
    text-align: left;
}


#form-search {
    margin-left: -300px;
    transition: 0.7s;
}

.navbar-toggler-icon {
    background-color: #1b5b31;
}

.logo {
    overflow: hidden;
    animation-name: slidein;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
    max-width: 114.37px;
    max-height: 19px;
}

@keyframes slidein {
    from {
        margin-left: -220px;
    }

    to {
        margin-left: 0px;
    }
}

.magnifying-glass {
    max-width: 19.5px;
    max-height: 19.5px;
}