.intro-section-left {
    background-color: #dcc1ab;
}

.ofert-block {
    background-color: #f5f0ec;
    padding-bottom: 160px;
}

.card {
    border-radius: 10%;
    border: none;
}

.card-link {
    color: #8dad97;
    border-bottom: solid;
    text-decoration: none;
}

.card:hover {
    box-shadow: 2px 2px 2px #1b5b31;
    transform: translateY(-10px);
}

a:hover {
    color: #1b5b31;
}

.logo {
    overflow: hidden;
    animation-name: slidein;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 0.9s;
}

@keyframes slidein {
    from {
        margin-left: -220px;
    }
    to {
        margin-left: 0px;
    }
}
