@media only screen and (min-width: 768px) {

    /* Navi */
    .padding-navbar {
        padding-top: 24px!important;
        padding-bottom: 24px!important;
    .navitem-gap {
        margin-left: 48px!important;
    }
    }

    /* Hero-block */
    .hero-content{
        margin-left: 64px!important;
        max-width: 599px;
    }
}

/* Navi */

nav {
    max-width: 1262px;
}

a {
    color: #111111!important; 
}

.nav-font {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -1%;
    color: #111111;
    text-align: left;
}


#form-search {
    margin-left: -300px;
    transition: 0.7s;
}

.navbar-toggler-icon {
    background-color: #1b5b31;
}

.logo {
    overflow: hidden;
    animation-name: slidein;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
    max-width: 114.37px;
    max-height: 19px;
}

@keyframes slidein {
    from {
        margin-left: -220px;
    }

    to {
        margin-left: 0px;
    }
}

.magnifying-glass {
    max-width: 19.5px;
    max-height: 19.5px;
}

/* hero-block */

.hero-block{
    max-width: 1440px;
    max-height: 737px;
    background-color: #dcc1ab;
}

.hero-header {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 599px;
}

.hero-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    max-width: 489.01px;
}
