.intro-section-left {
    background-color: #dcc1ab;
}

.ofert-block {
    background-color: #f5f0ec;
    padding-bottom: 160px;
}

.card {
    border-radius: 10%;
    border: none;
}

.card-link {
    color: #8dad97;
    border-bottom: solid;
    text-decoration: none;
}

.card:hover {
    box-shadow: 2px 2px 2px #1b5b31;
    transform: translateY(-10px);
}

a:hover {
    color: #1b5b31;
}